<!DOCTYPE html>
<html>
<head>
<script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'js/index.js') }}" ></script>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" style="font-size:30px"  href="{{ url_for('home') }}"><i>KenyanCuisine</i></a>
    <button style="font-size:30px" class="btn btn-success ml-auto mr-1">Culture</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a  style="font-size:20px" class="nav-link" href="{{ url_for('logout') }}"><i>Logout</i></a>
            </li>
            <li class="nav-item active">
                <a  style="font-size:20px" class="nav-link" href="{{ url_for('login') }}"><i>Login</i></a>
            </li>
        </ul>
    </div>
</nav>




</div>
<p style="font-size:15px">If you are looking for that rich African blend try out the Kenyan cuisine.It offers a distint blend of classicness that you will find nowhere else!.Filled with native foods grown in organic ways to give you energy with a blend of native sweetness!</p>
<h3>The most common foods are:</h3>
<ul style="font-size:15px">
<li>Mukimo</li>
<li>Beef and Nyama Choma</li>
<li>Rice</li>
<li>Ugali</li>
<li>Omena and,</li>
<li>Githeri</li>
</ul>
<h3>Some of the foods in the diverse cuisine<p onmousemove="moreInfo()" id="demo">.....</h3></p>

	<div class="card-deck" >
    <div class="card bg-primary">
      <div class="card-body text-center">
		<img src="static/images/ugali.jpeg">
		<p style="font-size:15px">Ugali</p>
      </div>
  </div>
    
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text">
		<img src="static/images/sukuma.jpeg">
    <p style="font-size:15px">Kale</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text"></p>
		<img src="static/images/pilau.jpeg">
    <p style="font-size:15px">Pilau</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text"></p>
		<img src="static/images/fish.jpeg"></img>
      <p style="font-size:15px">Fish</p>
    </div>  
  </div>
</div>
</div>
</div>
<br>
<div class="card-deck">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
		<img src="static/images/meat.jpeg">
    <p style="font-size:15px">Meat</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text"></p>
		<img src="static/images/githeri.jpeg">
    <p style="font-size:15px">Githeri</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text"></p>
		<img src="static/images/omena.jpeg">
    <p style="font-size:15px">Omena</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text"></p>
		<img src="static/images/arrowroots.jpeg">
    <p style="font-size:15px">Arrowroots</p>
      </div>
    </div>  
	</div>
  </div>
</div>
<br>
<div class="card-deck">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <p class="card-text"></p>
		<img src="static/images/chips.jpeg">
    <p style="font-size:15px">Chips</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text"></p>
		<img src="static/images/chicken.jpeg">
    <p style="font-size:15px">Chicken</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text"></p>
		<img src="static/images/mutura.jpeg">
    <p style="font-size:15px">Mutura</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text"></p>
		<img src="static/images/chapati.jpeg">
    <p style="font-size:15px">Chapati</p>
      </div>
    </div>  
  </div>
</div>
</div>
<br>

<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><p style="font-size:15px">Thank You!</strong>Kenyan foods are amazingly nourishing!</p>
  </div>
  <div class="alert alert-primary alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><p style="font-size:15px">FeedBack!</strong>Thank you for checking KenyanCuisine!</p>
  </div>
<br>

<div class="jumbotron">
 <center><p><a style="font-size:25px" href="{{ url_for('home') }}">Home</a></p></center>
 <center><a href="http:mugambi645@gmail.com" target="blank"<i class="fas fa-envelope" style="font-size:40px;color:teal;"></i></a>
  <center><a  href="https://facebook.com" target="_blank"><i style="font-size:20px"class="fab fa-facebook-f"></i></a></i></center>
  <br>
  <center><a href="https://instagram.com" target="blank"><i style="font-size:20px"class="fab fa-instagram"></i></a></center>

  <center><p style="font-size:18px; color:blue">Mugambi@KenyanCuisine</p></center>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body> 
</html> 









